{% extends "base-pdf.html" %}
{% block content %}
<div>
    <span class="izquierda"><h3>Reporte de Clientes</h3></span>
    <span class="titleCentro"><h3> Zona(s):</h3></span><span class="titleCentro"><h6>{{zonas}}</h6></span>
    <span class="derecha"><h5 >Fecha Emisión: {{ Fecha|date:"d/m/Y"}}</h5></span>
</div>

<br/><br/>

<table class="table">
    <thead>
        <tr>
            <th>COD-ANT.</th>
            <th>RIF, Nombre y Apellido/ Razon Social, Natural(N) Juridico(J)</th>
            <th>Teléfono</th>
            <th>Ciudad/Sector/Dirección</th>
            <th>Visita</th>
        </tr>
    </thead>
    {% for key in data %}
        <tr>
            <td style="width:1%">{{ key.codi_ante }}</td>
            <td style="width:30%">{{ key.description_customer}}</td>
            <td style="width:10%">{{ key.contact}}</td>
            <td style="width:50%">{{ key.address}}</td>
            <td style="width:10%">{{ key.posi_clie}}</td>
        </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <th>Total de Clientes:</th>
            <th colspan="4">{{ total}}</th>
          </tr>
    </tfoot>
</table>
{% endblock %}
