{% extends "base-pdf.html" %}
{% block content %}
<div>
    <span class="izquierda"><h3>Reporte de Clientes</h3></span>
    <span class="titleCentro"><h3> Zona(s):</h3></span><span class="titleCentro"><h6>{{zonas}}</h6></span>
    <span class="derecha"><h5 >Fecha Emisión: {{ Fecha|date:"d/m/Y"}}</h5></span>
</div>

<br/><br/>

<table class="table">
    <thead>
        <tr>
            <th>COD-ANT.</th>
            <th>RIF, Nombre y Apellido/ Razon Social, Natural(N) Juridico(J)</th>
            <th>Teléfono</th>
            <th>Coordenadas</th>
            <th>Ciudad/Sector/Dirección</th>
            <th>Visita</th>
            <th>Zona</th>
        </tr>
    </thead>
    
    <!-- {% regroup data by zone as zone_list %} -->
    <!-- {% for zone in zones_list%}
        <tr>
            <td colspan="6">{{ zone.grouper}}</td>            
        </tr>
    {% endfor %} -->
            <!-- {% if key.zone %}
                <tr>
                    <td colspan="6">{{ key.zone}}</td>            
                </tr>
            {%endif%} -->
        
        {% for key in data|dictsort:"orde_zone"|dictsort:"codi_ante"%}
            <tr>
                <td style="width:1%">{{ key.codi_ante }}</td>
                <td style="width:30%">{{ key.description_customer}}</td>
                <td style="width:10%">{{ key.contact}}</td>
                <td style="width:10%">{{ key.coordinates}}</td>
                <td style="width:50%">{{ key.address}}</td>
                <td style="width:10%">{{ key.posi_clie}}</td>
                <td style="width:10%">{{ key.zone}}</td>
            </tr>
        {% endfor %}
    <tfoot>
        <tr>
            <th colspan="1">Total de Clientes:</th>
            <th colspan="1">{{ total}}</th>
        </tr>
    </tfoot>
</table>
{% endblock %}
